<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="class=" container-fluid">
        <div class="navbar  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                        <div class="nav-brand">
                            <a href="/Home/Index"><img src="~/Content/images/logo.jpg" alt="Logo" style="padding:5%;" /></a>
                        </div>
                   
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Student", "Index", "Student")</li>
                        <li>@Html.ActionLink("Teacher", "Index", "Teacher")</li>
                        <li>@Html.ActionLink("Subject", "Index", "Subject")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        
        
        
        


        <div class="container footer">
            <footer>
                <hr />
                <p>&copy; @DateTime.Now.Year - Student Management Application</p>
            </footer>
        </div>
    
    
    
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
