@model SchoolManagementSystem.Models.Subject

@{
    ViewBag.Title = "Delete";
}

<h3 class="h3-heading"><center>Are you sure you want to delete this ?</center></h3>
<br />

<div class="container detail-container">
    <center>
        <h4>Subject</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Enable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enable)
            </dd>

        </dl>
    </center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
</div>

<br />

        <div class="form-actions no-color back-button">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            <button class="btn">@Html.ActionLink("Back to List", "Index")</button>
</div>
  
