@model SchoolManagementSystem.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h3 class="h3-heading"> <center>Subject Details</center></h3>
<br />

<div class="container detail-container">
    <center>
        <h4>Subject</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Enable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enable)
            </dd>

        </dl>
    </center>
</div>

<br />

<div class="mid-button">
    <p>
        <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Sub_code }) </button> |
        <button class="btn btn-default secondary-btn">@Html.ActionLink("Back to List", "Index")</button>
</p>
</div>