@model IEnumerable<SchoolManagementSystem.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<div class="container create-body">
    <div class="p-heading">
        <h3 class="h3-heading"> Subject Details</h3>
    </div>
    <div class="p-button">
        <button class="btn btn-create"> @Html.ActionLink("Create New", "Create") </button>
    </div>

</div>

<br />

<table class="table table-hover table-striped">
    <thead>
        <tr class="table-heading">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enable)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enable)
        </td>
        <td>
            <button type="button" class="btn btn-warning"> <i class="bi bi-pen small-icons"></i> @Html.ActionLink("Edit", "Edit", new { id = item.Sub_code })</button> |
            <button type="button" class="btn btn-primary"><i class="bi bi-ticket-detailed small-icons"></i> @Html.ActionLink("Details", "Details", new { id = item.Sub_code }) </button> |
            <button type="button" class="btn btn-danger"> <i class="bi bi-trash small-icons"></i>  @Html.ActionLink("Delete", "Delete", new { id = item.Sub_code }) </button>
</td>
    </tr>
}

</table>
